<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.trackify_backend.repository.CargoMapper">
    <select id="cargoList" resultType="com.dev.trackify_backend.entity.Cargo">
        select
            id,
            cargo_name as cargoName,
            lat,
            lng
        from
            cargo_tb
    </select>
</mapper>