<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.trackify_backend.repository.ModelMapper">
    <select id="modelList" resultType="com.dev.trackify_backend.entity.Model">
        select
            id,
            model_number as modelNumber
        from
            model_tb
    </select>
</mapper>