<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.trackify_backend.repository.ProductMapper">
    <select id="productList" resultType="com.dev.trackify_backend.entity.Product">
        select
            id,
            product_name as productName,
            volume
        from
            product_tb
    </select>
</mapper>